*.pyc
*.swp
*.pkl
/result
*.pth
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.Trash-0
results
crops
images

tg-latex/**/*.aux
tg-latex/**/*.dvi
tg-latex/**/*.idx
tg-latex/**/*.lof
tg-latex/**/*.log
tg-latex/**/*.lot
tg-latex/**/*.toc
tg-latex/**/*.out
__pycache__
